*
!.gitignore
!README.md

!.bashrc

!.config

!.config/nvim
!.config/nvim/*

!.config/nvim/lua

!.config/nvim/lua/pkg-mgr
!.config/nvim/lua/keybinds

!.config/nvim/lua/pkg-mgr/*
!.config/nvim/lua/keybinds/*

.config/nvim/lazy-lock.json

!.config/i3
!.config/i3/config

!.config/variety
!.config/variety/variety.conf

!.config/sakura
!.config/sakura/sakura.conf

!.config/appimagelauncher.cfg
