*
!.gitignore
!.gitmodules
!README.md
!.ssh-browse.py
!.bashrc
!.Xdefaults

!.config

!.config/picom.conf

!.config/yay
!.config/yay/config.json

!.config/nvim
!.config/nvim/*
!.config/nvim/lua
!.config/nvim/lua/pkg-mgr
!.config/nvim/lua/keybinds
!.config/nvim/lua/pkg-mgr/*
!.config/nvim/lua/keybinds/*
.config/nvim/lazy-lock.json

!.config/i3
!.config/i3/config

!.config/rofi
!.config/rofi/*

!.local
!.local/share
!.local/share/rofi
